body {
  font-family: Arial;
  color: white;
  background-color: #132440;
  height: 100vh;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 50%;
  margin: 0 auto;
}

#canvas {
  background-color: black;
}

.Instructions-div,
.result-div {
  text-align: center;
  border: solid 5px;
  border-color: #3B9797;
  border-radius: 20px;
  width: 80%;
  background-color: #16476A;
}

.pause-btn,
.reset-btn {
  margin-top: 10px;
  padding: 6px 12px 6px 12px;
  border: solid 5px;
  border-radius: 20px;
  background-color: #16476A;
  color: white;
  border-color: #3B9797;
}

.pause-btn:hover, 
.reset-btn:hover {
  background-color: #3B9797;
  cursor: pointer;
}

.reset-btn {
  display: none;
} 